body {
    background: url('../recursos/fondo2.jpeg') no-repeat;
    font-family: 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}


.logo img {
    height: 6rem;
}

header h1 {
    text-align: left;
}

h1 {
    margin: 0;
    font-size: 18px;
    flex-grow: 1;
    text-align: center;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffc107;
}

main {
    padding: 2rem;
    text-align: center;
    background-color: white;
    margin: 2rem auto;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
}

table th {
    background-color: #007bff;
    color: white;
}

button {
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button.add {
    background-color: #c17639;
    color: white;
}

button.edit {
    background-color: #ffc107;
    color: white;
}

button.delete {
    background-color: #dc3545;
    color: white;
}